@import "tailwindcss";

/* @import url("https://use.typekit.net/afh1ney.css"); */

.font-blenny {
  font-family: var(--font-blenny), sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-y: scroll;
}

a, button {
  cursor: pointer;
}

.icon-link {
  /* filter: drop-shadow(2px 2px 0 oklch(79.5% 0.184 86.047)); */
  transition: transform 0.6s ease-in-out, color 0.6s ease-in-out;
}

.icon-link:hover {
  transform: scale(1.15);
  color: oklch(26.8% 0.007 34.298)
}

.icon-link:active {
  transform: scale(0.95);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @keyframes expand {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.expand-on-load {
  animation: expand 1s ease-out;
} */

.text-shadow-black-background-black {
  text-shadow: 2px 2px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

/* span.hover\:text-shadow-black-background-black:hover {
  text-shadow: 2px 2px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
} */

.text-shadow-white-background-black {
  text-shadow: 2px 2px 0 white;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.text-shadow-cyan-background-black {
  text-shadow: 1px 1px 0 black;
  background-color: rgba(0, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.logo-shadow-black {
  filter: invert(1) drop-shadow(2px 2px 0 #000);
}

.logo-shadow-white {
  filter: drop-shadow(2px 2px 0 #fff);
}